
.addGoodDiv>form>h2{
    font-family: Comic Sans MS;
    font-style: italic;
    color: #3c763d;
}
.addGoodDiv .backButton {
    color: #3c763d;
    font-size:40px;
    position: absolute;
    right: 40px;
    top:40px;
    cursor: pointer;
}

.addGoodDiv button{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.addGoodDiv button:hover{
    color: white;
    background-color: #3c763d;
    border-color: #d6e9c6;
}
.alert.alert-success{
    margin-bottom: 0;
}
.alert.alert-danger{
    margin-bottom: 0;
}

label{
    font-family: Comic Sans MS;
    font-style: italic;
    color: #3c763d;
}
.addGoodDiv input, .addGoodDiv select{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.headerContainerClass{
    background-color: white;
    color:#3c763d;
}
